/* Tooltip */

.tooltip {
        position: absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

.tooltip.hidden {
        display: none;
}

.tooltip p {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
}

.graphContainer {
    position: relative;
}

#logo-container img {
    margin-right: 0.50em;
}

#navLoggedInName {
    padding-left: 15px;
}

#navLoggedInPic {
    margin: 12px;
}

#navLoggedInPic img {
    border-radius: 7px;
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 3px;
  pointer-events: none;
}

.area {
  fill: rgba(198, 106, 44, 0.2);
  pointer-events: none;
}

#index-banner {
    background-image: url("/img/landing-splash.jpg");
    background-size: cover;
    height: 800px;
    padding-top: 100px;
}

.cardStatsSpacing {
    margin: 0 1rem;
}

#loader {
    margin-top: 100px;
}
